
<div>
  <mat-toolbar color="primary">
    <span>Facturacion en Linea</span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <span class="example-fill-remaining-space"></span>
    <button mat-button [routerLink]="['']">Home</button>
    <button mat-button [routerLink]="['facturacion']">Facturacion</button>
    <button mat-button [routerLink]="['clientes']">Cliente</button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Quienes Somos?</button>
    <button mat-menu-item>Contacto</button>
  </mat-menu>
  <!-- <mat-card>
    <button mat-raised-button routerLink="/">Home</button>
    <button mat-raised-button color="primary" routerLink="/facturacion">Facturacion</button>
    <button mat-raised-button color="accent" routerLink="/clientes">Clientes</button>
  </mat-card> -->
</div>