<!-- <div [formGroup]="profileForm"> -->
<form (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Producto</mat-label>
                <mat-select name="selectedProd" placeholder="Producto" (ngModelChange)="changeProd($event)" [formControl]="selectedProd" required>    
                  <mat-option *ngFor="let prod of products" [value]="prod.value">
                      {{prod.product}}
                  </mat-option>
                </mat-select>    
                <mat-error *ngIf="selectedProd.invalid">{{getErrorProd()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" >
              <mat-label>Cantidad</mat-label>
              <input name="cantidad"  matInput (ngModelChange)="calculate($event)"  [formControl]="cantidad" required>
              <mat-error *ngIf="cantidad.invalid">{{getErrorCant()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Subtotal</mat-label>
              <input [(ngModel)]="subtotal" name="subtotal" matInput placeholder="Subtotal" value="{{subtotal}}" type="number" class="example-right-align" readonly>
              <span matPrefix>Bs.&nbsp;</span>
              <span matSuffix>.00</span>
          </mat-form-field>
          <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Descuento</mat-label>
              <input [ngModel]="descuento" (ngModelChange)="calculateDesc($event)" name="descuento" matInput type="number" class="example-right-align">
              <span matPrefix>Bs.&nbsp;</span>
              <span matSuffix>.00</span>
          </mat-form-field>
          <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Total</mat-label>
              <input name="total" matInput placeholder="Total" [(ngModel)]="total" type="number" class="example-right-align" >
              <span matPrefix>Bs.&nbsp;</span>
              <span matSuffix>.00</span>
          </mat-form-field>
          <mat-list *ngIf="selectedProdName">
                <mat-list-item>Precio de {{selectedProdName.product}}: {{precio}}</mat-list-item>
                <mat-divider></mat-divider>
          </mat-list>
      </mat-card>
      <mat-card>
            <!-- <div formGroupName="profileForm"> -->
            <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Nro. Factura</mat-label>
                    <input name="billingNumber" matInput placeholder="Nro. Factura" [(ngModel)]="billingNumber">
                    <!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                    <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error> -->
            </mat-form-field>    
            <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Nro. Autorizacion</mat-label>
                    <input name="authorizationNumber" matInput placeholder="Nro. Autorizacion" [formControl]="authorizationNumber" required>
                    <mat-error *ngIf="authorizationNumber.invalid">{{getErrorNumAuth()}}</mat-error>
            </mat-form-field>    
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Fecha Venta</mat-label>
                <input matInput [matDatepicker]="pickerSales" placeholder="Fecha Venta" [formControl]="salesDate" required>
                <mat-datepicker-toggle matSuffix [for]="pickerSales"></mat-datepicker-toggle>
                <mat-datepicker #pickerSales></mat-datepicker>
                <mat-error *ngIf="salesDate.invalid">{{getErrorSalesDate()}}</mat-error>
            </mat-form-field>            
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Fecha Factura</mat-label>
              <input matInput [matDatepicker]="pickerBilling" placeholder="Fecha Factura" [formControl]="billingDate" required>
              <mat-datepicker-toggle matSuffix [for]="pickerBilling"></mat-datepicker-toggle>
              <mat-datepicker #pickerBilling></mat-datepicker>
            </mat-form-field>   
            <!-- </div>          -->
      </mat-card>
      <mat-card>
            <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Cliente</mat-label>
                    <mat-select placeholder="Cliente" name="clientName" [ngModel]="selectedClient" (ngModelChange)="changeClient($event)">    
                      <mat-option *ngFor="let client of clients" [value]="client.value">
                          {{client.name}}
                      </mat-option>
                    </mat-select>    
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Vendedor</mat-label>
                        <mat-select placeholder="Vendedor" name="sellerName" [ngModel]="sellerName" (ngModelChange)="changeSeller($event)">    
                          <mat-option *ngFor="let sel of sellers" [value]="sel.value">
                              {{sel.name}}
                          </mat-option>
                        </mat-select>    
                </mat-form-field>
          <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Fecha Pago</mat-label>
              <input matInput [matDatepicker]="pickerPayment" placeholder="Fecha Pago" [formControl]="paymentDate" required>
              <mat-datepicker-toggle matSuffix [for]="pickerPayment"></mat-datepicker-toggle>
              <mat-datepicker #pickerPayment></mat-datepicker>
          </mat-form-field>       
          <mat-list *ngIf="clientName">
                <mat-list-item>NIT [{{clientName.name}}: {{clientName.nit}}]</mat-list-item>
                <mat-divider></mat-divider>
          </mat-list>     
      </mat-card>
      <mat-card>
      <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Nro. Nota</mat-label>
            <input [ngModel]="noteNumber" (ngModelChange)="changeNoteNum($event)" name="noteNumber" matInput >
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Pagos Monto</mat-label>
            <input [ngModel]="payAmounts" (ngModelChange)="changePayAmount($event)" name="payAmounts" matInput >
        </mat-form-field>
    </mat-card>
    <!-- <button type="submit" [disabled]="!profileForm.valid">Submit</button> -->
    <!-- <button class="btn btn-primary">Register</button> -->
    <mat-card style="display:flex;justify-content:center;align-items:center;">
            <button mat-fab color="primary">Enviar</button>
    </mat-card>
  </form>

  <hr>
<!--   
  
  <p>
    Form Value: {{ profileForm.value | json }}
  </p>
  
  
  <p>
    Form Status: {{ profileForm.status }}
  </p>
     -->
    